
body {
	background: linear-gradient(-45deg, #2e2e2e, #162844, #092530, #0f3129);
	background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  text-align: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.title{
margin: auto;
width: fit-content;
/*background-color:#7289DA;*/
border-radius: 10px;
font-family: 'Segoe UI';
font-size: 60px;
margin-top: 15%;
color:rgb(233, 233, 233);
font-weight: 400;
}


.shortdesc{
  color: rgb(209, 209, 209);
  font-family: 'Segoe UI';
  font-size: 30px;
  font-weight: 200;
}

.bigbtn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  display: inline;
  background-color: #7289DA;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
  color: rgb(255, 255, 255);
  font-size: 1.7em;
  text-shadow: 2px 1px #000000;
  margin: 0.5em;
  padding: 0.4em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;

}

.showcase{
  display: block;
  margin-top: 10%;
  margin-left: 10%;
}
.eximg{
  width:35%;
  margin-right: 5%;
  border-radius: 1em;
  border: 3px solid rgb(105, 105, 105);
  float: left;
}

.imgdesc{
  margin-top: 10%;
  color: rgb(209, 209, 209);
  font-family: 'Segoe UI';
  font-size: 20px;
  font-weight: 200;
  max-width: 30em;
  float: left;
}

@media only screen and (max-width: 600px) {
  .eximg{
    width:100%
  }
  .showcase{
    margin-top: 10%;
    margin-left: 0;
  }
}