
html, body{
  background-color:#1b1b1b;
  text-align: center;
}

.title{
margin: auto;
width: fit-content;
/*background-color:#7289DA;*/
border-radius: 10px;
font-family: 'Segoe UI';
font-size: 60px;
margin-top: 15%;
color:rgb(233, 233, 233);
font-weight: 400;
}

.shortdesc{
  color: rgb(209, 209, 209);
  font-family: 'Segoe UI';
  font-size: 30px;
  font-weight: 200;
}

.bigbtn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  display: inline;
  background-color: #7289DA;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
  color: rgb(255, 255, 255);
  font-size: 1.7em;
  text-shadow: 2px 1px #000000;
  margin: 0.5em;
  padding: 0.4em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;

}
